In [2]:
import pandas as pd

In [3]:
import ast

In [4]:
df = pd.read_csv("D:/DATA_SCIENCE/DS_NLP/tmdb_5000_credits.csv")

In [5]:
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
def convert3(text):
    L=[]
    #counter=0
    for i in ast.literal_eval(text):
        L.append(i["name"])
    return L

In [7]:

df["cast"]=df["cast"].apply(convert3)

In [8]:
def fetch_director(text):
    L=[]
    for i in ast.literal_eval(text):
        if i["job"]=="Director":
            L.append(i["name"])
    return L

In [9]:
df["crew"]=df["crew"].apply(fetch_director)

In [10]:
df["tag"]=df["cast"]+df["crew"]

In [11]:
df=df.drop(columns=["cast","crew"])

In [12]:
df["tag"]=df["tag"].apply(lambda x:"  ".join(x))

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [14]:
vector = cv.fit_transform(df['tag']).toarray()

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [16]:
def recommend(movie):
    index = df[df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].title)

In [17]:
recommend("Gandhi")

Sands of Iwo Jima
The Empire Strikes Back
Public Enemies
Superman
Animals